<div class="max-w-sm bg-white border border-gray-200 relative rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
*ngIf="equipment">
   <a href="#" class="flex justify-center">
       <img class="rounded-t-lg" src="../../../assets/images/tracks.jpeg" alt="" />
   </a>
   <div class="p-5">
       <a href="#">
           <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{equipment.name}}</h5>
       </a>
       <div class="flex justify-between space-x-2 my-6">
           <p class="category bg-gray-500 text-white py-1 px-1.5 text-center rounded-lg text-bold">#{{equipment.category.name}}</p>
           <p class="manufacturer text-gray-500 underline py-1 px-1.5 text-center rounded-lg text-bold">#{{equipment.manufacturerName}}</p>
       </div>
       <p class="font-bold pricePerDay my-6"><span class="underline">Price per day:</span> {{equipment.pricePerDay}} DH</p>
       <p class="quantity text-center text-white font-md text-lg absolute top-3 right-2 shadow-md px-3 rounded-lg ">Qantity: {{equipment.quantity}}</p>
       <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
           Rent this
           <svg class="rtl:rotate-180 w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
               <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
           </svg>
       </a>
   </div>
</div>